body {
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
}

section.inloggen h1 {
  text-align: center;
}

section.inloggen {
  position: absolute;
  color: white;
  width: 100%;
  margin-top: -4em;
  height: 12.5em;
  background: #e7772b;
}

section a {
  text-decoration: none;
}

section.accountbox a:hover {
  text-decoration: underline;
}

img {
  width: 100px;
  margin-top: -1.5em;
}

section.accountbox {
  margin: auto;
  position: relative;
  align-items: center;
  padding: 1em;
  background: white;
  box-sizing: border-box;
  width: 20em;
  Box-shadow: 0 8px 18px 0 rgba(103, 92, 83, .3);
  border-radius: 10px;
  margin-top: 7em;
  height: 28.4em;
  z-index: 2;
  transition: all 300ms ease;
}

fieldset {
  border: none;
}

form label {
  color: dimgrey;
}

section .jouwgegevens {
  font-size:1em;
  font-weight: 600;
  color: #e7772b;
  position: relative;
  left: -.1em;
  margin-bottom: .4em;
}

fieldset input {
  margin-top: 1em;
  width: 90%;
  border: none;
  border-bottom: 1px solid #eee;
  transition: border-color .5s ease-out;
  padding: 1em;
  display: block;
}

form div.buttonnieuw {
  position: relative;
  float: right;
  top: -2em;
}

form div.buttonnieuw:hover {
  font-weight: 800;
  cursor: pointer;
}

form label.herhaalww, .herhaalwwinput {
  display: none;
}

.accountbox.appear-herhaalpw {
  height: 33.4em;
}

form .submitlog {
  width: 10em;
  left: 1em;
  margin: auto;
  border: none;
  font-size: .9em;
  position: relative;
  text-decoration: none;
  padding: .4em .1em;
  border-radius: 10px;
  color: white;
  background: lightgrey;
  /* Box-shadow: 0 8px 18px 0 rgba(231, 119, 43, .3); */
  cursor: pointer;
}

form .submitlog:hover {
  background: #e7772b;
  font-weight: 500;
  transition: .5s ease;
}

form input:required:valid {
  border-bottom-color: palegreen;
}

form input:invalid {
  border-bottom-color: red;
  margin-bottom: 1em;
}

form :focus {
  outline: none;
}

section.accountbox input:focus {
  border: solid red .2em;
  border-radius: .2em;
  transition: all 300ms ease;
}

section.accountbox input:required:valid:focus {
  border: solid palegreen .2em;
  border-radius: .2em;
  transition: all 300ms ease;
}

section.accountbox input:required:valid {
  border: solid palegreen .2em;
  color: #492619;
  font-weight: 800;
}

section.accountbox a.vergeten {
  margin-top: 1em;
  color: #54a5dd;
  display: block;
  width: 20em;
  width: 6em;
  border-radius: 3px;
  padding: .3em;
  position: absolute;
  bottom: 22em;
  right: 3em;
  text-align: center;
  font-size: 0.6em;
}

.check li:before {
  speak: none;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  content: "\2713";
  color: #a0e2ad;
  width: auto;
  height: auto;
  background-color: transparent;
  top: 4em;
  padding: 1em;
}

section ul.check {
  text-decoration: none;
  margin-left: -1em;
  list-style-type: none;
}

section.nieuwinlog {
  position: relative;
  width: 20em;
  bottom: 13em;
  z-index: 2;
  margin: 0 auto;
  background: #f1f1f1;
}

section.nieuwinlog h2 {
  padding-top: .4em;
  margin-left: 1.2em;
}

section a.registreren {
  color: grey;
  font-weight: 700;
  position: relative;
  background: lightgrey;
  align-items: center;
  text-align: center;
  padding: .2em;
  box-sizing: border-box;
  margin: 0 auto;
  width: 20em;
  border-radius: 0 0 10px 10px;
  top: 1em;
  display: block;
}

section a.registreren:hover {
  color: white;
  height: 2em;
  background: #e7772b;
  transition: all 100ms ease;
  border-radius: 0 0 10px 10px;
}

img.bus_achter_animatie {
  top: 12.4em;
  position: absolute;
  z-index: 1;
  animation: busaccountachtergrondanim 30s infinite;
}

@keyframes busaccountachtergrondanim {
  from {
    right: -14em;
  }

  to {
    right: 30em;
  }
}

/*/////////////////////////////////////////////////////////////////////// */
/*/////////////////////////    tablet screen     /////////////////////// */
/*/////////////////////////////////////////////////////////////////////// */
@media only screen and (min-width: 426px) and (max-width:1023px) {
  .accountbox {
    width: 20em;
  }

  img.bus_achter_animatie {
    top: 12.4em;
    position: absolute;
    z-index: 1;
    animation: busaccountachtergrondanim 60s infinite;
  }

  @keyframes busaccountachtergrondanim {
    from {
      right: -14em;
    }

    to {
      right: 50em;
    }
  }

  /*/////////////////////////////////////////////////////////////////////// */
  /*/////////////////////////    Wide screen     /////////////////////// */
  /*/////////////////////////////////////////////////////////////////////// */
  @media only screen and (min-width: 1024px) and (max-width:1440px) {
    .accountbox {
      width: 20em;
    }

    img.bus_achter_animatie {
      top: 12.4em;
      position: absolute;
      z-index: 1;
      animation: busaccountachtergrondanim 120s infinite;
    }

    @keyframes busaccountachtergrondanim {
      from {
        right: -14em;
      }

      to {
        right: 80em;
      }
    }
