body {
  box-sizing: border-box;
}

h1, h2 {
  margin-left: 1em;
}

.inloggen {
  position: absolute;
  width: 100%;
  margin-top: -4em;
  height: 200px;
  background: #fcd900;
}

a{
  text-decoration: none;
  color:orange;
}
.vergeten, .registreren{
  margin-top:1em;
  color:#54a5dd;
}
img {
  width: 100px;
  margin-top: -1.5em;
}

.navbrown {
  width: 100%;
  height: 60px;
  background-color: #675c53;
  position: absolute;
  z-index: -1;
}

.accountimg {
  width: 70px;
  height: 70px;
  background-color: red;
  border-radius: 100px;
  position: relative;
  display: block;
  margin: auto;
  margin-top: 100px;
}

.accountbox {}

.accountbox {
  margin: auto;
  position: relative;
  align-items: center;
  padding: 10px;
  background: white;
  box-sizing: border-box;
  width: 90%;
  Box-shadow: 0 8px 18px 0 rgba(103, 92, 83, .3);
  border-radius: 10px;
  margin-top: 4em;
  height: 400px;
}

fieldset {
  border: none;
}

fieldset input {
  margin: auto;
  width: 90%;
  border: none;
  border-bottom: 1px solid #eee;
  transition: border-color .5s ease-out;
  padding: 10px;
  display: block;
}

.submitlog {
  width: 10em;
  left: 1em;
  margin-top: 100px;
  margin: auto;
  border: none;
  font-size: .9em;
  position: relative;
  text-decoration: none;
  padding: 9px 15px;
  border-radius: 10px;
  color: white;
  background: lightgrey;
  /* Box-shadow: 0 8px 18px 0 rgba(231, 119, 43, .3); */
  cursor: pointer;
}

.vergeten {
  display: block;
  left: 1em;
  position: relative;
}
}

.submitlog:hover {
  background: #e7772b;
  transition: .5s ease;
}

form input:required:valid {
  border-bottom-color: palegreen;
}

form input:invalid {
  border-bottom-color: red;
}

form :focus {
  outline: none;
}

.check {
  list-style-type: none;
}

.check li:before {
  speak: none;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  content: "\2713";
  color: #a0e2ad;
  width: auto;
  height: auto;
  background-color: transparent;
  top: 4px;
}

.nieuwinlog{
  position: absolute;
  top:24em;
  left:3em;
  z-index: 2;

}
.nieuwbg{
  background:lightgrey;
  width:90vw;
  left:-5vw;
  bottom:;
  height:180px;
  position: absolute;
  z-index:-1;
}
/*/////////////////////////////////////////////////////////////////////// */
/*/////////////////////////    tablet screen     /////////////////////// */
/*/////////////////////////////////////////////////////////////////////// */
@media only screen and (min-width: 426px) and (max-width:1023px) {
  .accountbox {
    width:20em;
}

.nieuwinlog{
  left: 29%;
}
  }


/*/////////////////////////////////////////////////////////////////////// */
/*/////////////////////////    Wide screen     /////////////////////// */
/*/////////////////////////////////////////////////////////////////////// */
@media only screen and (min-width: 1024px) and (max-width:1440px) {
  .accountbox {
    width:20em;
}

.nieuwinlog{
  left: 37%;
}
  }
