
/*
https://codepen.io/zFunx/pen/dWbevd

*/

.filter{
  display: none;
}
input[type="checkbox"] {
 display: none;

}
input[type="checkbox"] {
  color: #e7772b;
}

input[type="checkbox"]+ label::before,
input[type="checkbox"]+ label::after  {
  content: "";
  border: 0.1em solid #e7772b;
  border-radius: 0.2em;
  display: inline-flex;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  margin:.3em;
  color: #e7772b;
  transition: .2s;
  cursor: pointer;
}

input[type="checkbox"]+label::before {
  content: none;
}

input[type="checkbox"]:checked+label::after {
  content: "\2714";
}
.filter label{
  position: relative;
  /* background-color: blue; */
  height:100px;
  padding:5px;
  border: solid 1px black;
}


/*/////////////////////////////////////////////////////////////////////// */
/*/////////////////////////    F I L T E R   //////////////////////////// */
/*/////////////////////////////////////////////////////////////////////// */
.filter li {
  list-style-type: none;
  padding-top: 10px;
}

.filter input {
  margin-right: 10px;
}

.anderook {
  margin-bottom: 3em;
}

.button {
  background: white;
  text-decoration: none;
  padding: 4px;
  color: #54a5dd;
  border: solid 1px #54a5dd;
  border-radius: 5px;
}

/*/////////////////////////////////////////////////////////////////////// */
/*/////////////////////////    B O X E S    //////////////////////////// */
/*/////////////////////////////////////////////////////////////////////// */



/*/////////////////////////////////////////////////////////////////////// */
/*/////////////////////////    B O X E S    //////////////////////////// */
/*/////////////////////////////////////////////////////////////////////// */
