
/*
https://codepen.io/zFunx/pen/dWbevd

*/

.filter{
display: grid;
grid-gap: 1.2em;
}

input[type="checkbox"] {
 display: none;

}
input[type="checkbox"] {
  color: #e7772b;
}

input[type="checkbox"]+ label::before,
input[type="checkbox"]+ label::after  {
  content: "";
  border: 0.1em solid #e7772b;
  border-radius: 0.2em;
  display: inline-flex;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.5em;
  margin:.3em;
  color: #e7772b;
  transition: .2s;
  cursor: pointer;
  float:left;
}

input[type="checkbox"]+label::before {
  content: none;
}

input[type="checkbox"]:checked+label::after {
  content: "\2714";
  font-weight: bold;
}
.filter label{
  position: relative;
  /* background-color: blue; */
  padding:5px;
  border-bottom: solid 1px  lightgrey;
  width:90%;
  margin-left: 1em;

}



/*/////////////////////////////////////////////////////////////////////// */
/*/////////////////////////    F I L T E R   //////////////////////////// */
/*/////////////////////////////////////////////////////////////////////// */
.filter li {
  list-style-type: none;
  padding-top: 10px;
}
.filter h3{
  color:#54a5dd;
  text-align: center;
}

.filter input {
  margin-right: 10px;
}

.anderook {
  margin-bottom: 3em;
}

.button {
  background: white;
  text-decoration: none;
  padding: 4px;
  color: #54a5dd;
  border: solid 1px #54a5dd;
  border-radius: 5px;
}
.button{
padding:10px;
}

/*/////////////////////////////////////////////////////////////////////// */
/*/////////////////////////    animatie filter    ///////////////////// */
/*/////////////////////////////////////////////////////////////////////// */


.filter{
}

/*/////////////////////////////////////////////////////////////////////// */
/*/////////////////////////    media queries   //////////////////////////// */
/*/////////////////////////////////////////////////////////////////////// */


@media only screen and (min-width:1020px) and (max-width: 1440px) {

.filter{
display:grid;
grid-template-columns: 20%;
}
}
