body {
  font-family: "Roboto";
  font-size: 16px;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
/*
@keyframes pscalehover {
  0% {}

  100% {}
}

@keyframes strobe {
  0% {
    margin-left: 1em;
    opacity: .4;
    filter: hue-rotate(400deg) blur(1px);
  }

  100% {
    margin-left: -1em;
    opacity: .5;
    filter: hue-rotate(3.142rad) blur(1px);
  }
}

@keyframes strobe2 {
  0% {
    margin-left: -1em;
    opacity: .4;
    filter: hue-rotate(100deg) blur(1px);
  }

  100% {
    margin-left: 1em;
    opacity: .5;
    filter: hue-rotate(100deg) blur(1px);
  }
} */

img.stonedpng {

  animation: strobe 600ms infinite ease;
}

img.stonedpng2 {
  position: absolute;

  animation: strobe2 600ms infinite ease;
}

.stonedpng1 {
  position: absolute;

}

img.logoov {
  width: 6em;
  display: block;
  position: absolute;
  top: -5em;
  opacity: .5;
}

img {
  cursor: pointer;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  margin-top: 5em;
  opacity: 1;
  transform: translateX(0);
}

img {
  filter: blur(0);
  transition: all 500ms ease;
}

.stonedpng, .stonedpng2, .stonedpng1{
  position: absolute;
  top:-7em;
}
p{
  height:600px;
  padding:1em;
  text-align: center;
  background-color:red;
}
