body {
  font-family: "Roboto";
  font-size: 16px;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes pscalehover {
  0% {}

  100% {}
}

@keyframes strobe {
  0% {
    margin-left: 1em;
    opacity: .4;
    filter: hue-rotate(400deg) blur(1px);
  }

  100% {
    margin-left: -1em;
    opacity: .5;
    filter: hue-rotate(3.142rad) blur(1px);
  }
}

@keyframes strobe2 {
  0% {
    margin-left: -1em;
    opacity: .4;
    filter: hue-rotate(100deg) blur(1px);
  }

  100% {
    margin-left: 1em;
    opacity: .5;
    filter: hue-rotate(100deg) blur(1px);
  }
}

img.stonedpng {
  animation: strobe 600ms infinite ease;
}

#infinite-list {
  /* We need to limit the height and show a scrollbar */
  position: absolute;
  top: 6em;
  text-align: center;
  width: 90%;
  height: 500px;
  overflow: auto;
  list-style-type: none;
  /* margin-bottom:20em; */
  transition: all 200ms ease;
  opacity: .7;
}

li {
  margin-bottom: 30em;
  padding: 12px;
  list-style-type: none;
}

img.stonedpng2 {
  position: absolute;
  animation: strobe2 600ms infinite ease;
}

.stonedpng1 {
  position: absolute;
}

img.logoov {
  width: 6em;
  display: block;
  position: absolute;
  top: -5em;
  opacity: .5;
}

img {
  cursor: pointer;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  margin-top: 5em;
  opacity: 1;
  transform: translateX(0);
}

img {
  filter: blur(0);
  transition: all 500ms ease;
}

@keyframes scaleanim {
  0% {
    transform: scale();
  }

  100% {}
}

div p {
  animation: scaleanim 500ms infinite ease;
}

img.active {
  filter: blur(2em);
  opacity: 0;
  transform: translateX(120px);
  transition: 0.5s ease;
}

div.active {
  opacity: .8;
  transform: translateX(0);
  transition: 0.2s ease-in-out;
}

div.active {
  filter: blur(0);
  transition: all 700ms ease;
}

div {
  opacity: 0;
  filter: blur(2em);
  transform: translateX(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

div:nth-child(odd) {
  transform: translateX(-10px);
}

div {
  margin: 1em;
  width: 20em;
  text-align: center;
  height: 42em;
  margin-left: auto;
  margin-right: auto;
}

/* p{
  color:purple;
  text-align: center;
  filter:blur(1px);
  opacity:.4;
  position: absolute;
  top:9em;
  z-index: -1;
} */
p:hover {
  animation: strobe2 700ms infinite ease;
  animation: strobe 700ms infinite ease;
}

.p3 {
  font-size: 3em;
  text-align: center;
  justify-content: center;
  opacity: .4;
  position: absolute;
  z-index: -1;
}

.p2 {
  color: pink;
  text-align: center;
  filter: blur(2px);
  opacity: .2;
  position: absolute;
  font-size: 2em;
  top: 0em;
  z-index: -1;
  animation: left 10s ease infinite;
}

.stonedpng, .stonedpng2, .stonedpng1 {
  position: absolute;
  top: 2em;
}

  .commentvlak {
    border-radius: .5em;
    height: 13em;
    width: 90%;
    background: #675c53;
    margin-left: auto;
    margin-right: auto;
  }

  .commentvlak h2 {
    margin-left: 1.8em;
  }

  textarea {
    width: 52%;
    position: absolute;
    display: block;
    right: 32%;
    border-radius: .3em;
    background: whitesmoke;
  }

  .verstuur {
    margin-left: 65%;
    position: absolute;
    margin-top: 0.3em;
    background: #ffa619;
    border-radius: .4em;
    color: white;
    padding: .5em;
  }

  .commentaren {
    width: 63%;
    background: #f9f9f9;
    color: black;
    padding: 1em;
    border-radius: .2em;
    margin-top: -6em;
    left: 14%;
    position: absolute;
    height: 2em;
  }

  .verscom {
    font-size: .5em;
  }

  .verscom h2 {
    margin-top: -.3em;
    color: orange;
  }

  .verscom h3 {
    color: lightgray;
    font-weight: 100;
    font-size: 0.7em;
    margin-top: -4em;
    position: absolute;
    left: 22em;
  }


/*/////////////////////////////////////////////////////////////////////// */
/*/////////////////////////    Tablet screen     /////////////////////// */
/*/////////////////////////////////////////////////////////////////////// */
@media only screen and (min-width: 617px) and (max-width:769px) {
  .commentvlak {

    height: 13em;
    width: 25em;

  }

textarea {
    width: 28%;

    right: 42%;

  }

  .verstuur {
    margin-left: 35%;

  }

  .commentaren {
    width: 33%;

    padding: 1em;

    left: 29%;

  }
}
/*/////////////////////////////////////////////////////////////////////// */
/*/////////////////////////    Wide screen     /////////////////////// */
/*/////////////////////////////////////////////////////////////////////// */
@media only screen and (min-width: 769px) and (max-width:1866px) {
  .commentvlak {

    height: 13em;
    width: 37%;

  }

textarea {
  width: 23%;
  right: 41%;

  }

  .verstuur {
    margin-left: 28%;


  }

  .commentaren {
    width: 25%;
      padding: 1em;
      left: 36%;

  }
}
