/*  Homepage    */
body {
  font-family: "Roboto";
  font-size: 16px;
  background-color: #f1f1f1;
  margin: 0;
  box-sizing: border-box;
}

/*/////////////////////////////////////////////////////////////////////// */
/*/////////////////////////    L O G O   //////////////////////////////// */
/*/////////////////////////////////////////////////////////////////////// */
.header {
  background-color: #544a43;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logoov {
  margin-top: -10px;
  width: 5em;
  display: flex;
  position: fixed;
}

.header, .searchl, .profile {
  display: flex;
  position: fixed;
  right: 0;
}

.searchl {
  right: 50px;
  margin-top: 23px;
}

.profile {
  right: 10px;
  width: 20px;
  margin-top: 21px;
}

/*/////////////////////////////////////////////////////////////////////// */
/*/////////////////////////    FILTER NAV  //////////////////////////// */
/*/////////////////////////////////////////////////////////////////////// */
.filternav a {
  display: inline-block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  background-color: lightgrey;
  color:grey;

}
.filternav {
  margin-top: 10px;
  overflow-x: scroll;
  white-space: nowrap;
  padding-left:10px;
}
.filternav::-webkit-scrollbar {
  display: none;
}

.filternav svg{
  width:15px;
  padding-right:10px;
  opacity: .3;
  height:10px;
}


/* filter PSUEDO  Hover */

.filternav :hover{
  color:white;
  font-weight: bold;
  background-color:#E7772B;
}


/*/////////////////////////////////////////////////////////////////////// */
/*/////////////////////////    N A V B A R   //////////////////////////// */
/*/////////////////////////////////////////////////////////////////////// */
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  z-index: 10;
  height:50px;
}

 .prof, .homeicoon {
   display: block;
  position: absolute;
  width: 20px;
  top:0;
}

.navbar li {
  float: left;
  align-items: center;
}

.navbar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  color: #ffffff;
  font-size: 0.9em;
}

/* home/account hover PSUEDO */

.navbar svg:hover #profile,
.navbar svg:hover #profil{
    fill:#E7772B;
}
.navbar svg:hover #home{
  fill:#E7772B;
}



/*/////////////////////////////////////////////////////////////////////// */
/*/////////////////////////    Z O E K   //////////////////////////////// */
/*/////////////////////////////////////////////////////////////////////// */
.zoeken {
  padding-top: 20px;
  width: 100%;
  height: 300px;
  background-color: #fbd731;
}

.boxunder {
  background: white;
  width: 80%;
  height: 11em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-top: 60px;
  Box-shadow: 0 8px 18px 0 rgba(103, 92, 83, .3);
}

h4 {
  font-size: .5em;
  padding: 10px;
  padding-top: 10px;
  color: #e7772b;
}

.introzoek, h4 {
  margin-top: -6px;
  padding-left: 20px;
}

.zoekbalk {
  padding: 20px;
  width: 80%;
  height: 1%;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.buttonz {
  font-size: .9em;
  position: absolute;
  right: 11%;
  top: 200px;
  text-decoration: none;
  background-color: lightgrey;
  padding: 9px 15px;
  border-radius: 10px;
  color: white;
}

.buttonz:hover {
  background: #e7772b;
  transition: .2s ease-in;
  Box-shadow: 0 8px 18px 0 rgba(231, 119, 43, .3);
}

/*/////////////////////////////////////////////////////////////////////// */
/*/////////////////////////    O N T D E K V R   /////////////////////// */
/*/////////////////////////////////////////////////////////////////////// */
.dotline {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: -20px;
  border-top: dotted 2px #544a43;
}

.ontdekverhalen {
  position: relative;
  text-align: center;
  font-size: .6em;
  background: white;
  margin-top: 60px;
  width: 50%;
  height: 60px;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.ontdekbut {
  text-decoration: none;
  padding: 3px;
  color: #54a5dd;
  border: solid 1px #54a5dd;
  border-radius: 5px;
}


/* HOVER */
.ontdekverhalen:link {
  border: solid 2px red;
}

.ontdekbut:hover {
  background-color: #54a5dd;
  color: white;
  font-weight: 500;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  transition: .2s ease-in;
}

/*/////////////////////////////////////////////////////////////////////// */
/*/////////////////////////    STORY STYLING     /////////////////////// */
/*/////////////////////////////////////////////////////////////////////// */



.bookmark svg{
  width:40px;
  display: flex;
  position: relative;
  left: 98%;
  bottom:11.5rem;
  z-index: 1;
  transition: all 300ms;

}

.bookmark svg:hover #star{
  cursor:pointer;
  fill:#fecb37;
}

.bookmark svg:hover{
  left:100%;


}

h2{
  margin-left:2.4em;
  font-size: 1em;
  font-weight: 400;
  color:grey;
}
.storypic{
  width:320px;
  display:flex;
  position: relative;
  top:-20px;
  justify-content: center;
}

article {
  background: white;
  Box-shadow: 0 8px 18px 0 rgba(103, 92, 83, .3);
  max-width: 80%;
  margin-bottom:40px;
  height: 300px;
  border-radius: 10px;
  display: block;
  position: flex;
  top: -200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  flex-wrap: wrap;


}
h3{
  display: block;
  position: relative;
  top:-35px;
}
p {
  display: flex;
  position: relative;
  top:-30px;
  width: 90%;
  height: 4.6rem;
  font-size: .9em;
  overflow: hidden;

}

h3, p{
  padding-left:1em;
}

section{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

/*/////////////////////////////////////////////////////////////////////// */
/*/////////////////////////    Mobile screen     /////////////////////// */
/*/////////////////////////////////////////////////////////////////////// */
@media only screen and (max-width: 768px) {

  /* T O P  */
  .searchl, .profile {
    display: none;
  }

  .boxunder {
    display: none;
  }

  .zoeken {
    height: 80px;
  }
}

/*/////////////////////////////////////////////////////////////////////// */
/*/////////////////////////    Tablet screen     /////////////////////// */
/*/////////////////////////////////////////////////////////////////////// */
@media only screen and (min-width: 768px) {
  .searchl, .profile {}
}

/*/////////////////////////////////////////////////////////////////////// */
/*/////////////////////////    Wide screen     /////////////////////// */
/*/////////////////////////////////////////////////////////////////////// */
@media only screen and (min-width: 768px) {
  .navbar {
    display: none;
  }
}
