/*jslint browser: true, devel: true, eqeq: true, plusplus: true, sloppy: true, vars:
true, white: true

/eslint-env browser/
/eslint 'no-console': 0/

//updated 1st time/ */
/*  Homepage    */
body {
  font-family: "Roboto";
  font-size: 16px;
  background-color: #fefefe;
  margin: 0;
  box-sizing: border-box;
}

/****** NAVBARTOP *******/
/*| navbartop bevat de volgende elementen
-- header index img
-- Logo van uov
-- Storytogo tekst
-- vergrootglas svg
-- account svg
|*/
nav.header h1.storytogo {
  text-align: center;
  width: 100%;
  position: fixed;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

nav.header {
  background-color: #544a43;
  width: 100%;
  height: 4em;
  position: fixed;
  top: 0;
  z-index: 10;
}

nav.header, div.searchl, .profile {
  display: flex;
  position: fixed;
  right: 0;
}

/* svg vergrootglas in een div container */
div.searchl {
  right: 4%;
  margin-top: -.3em;
  cursor: pointer;
  transition: all 400ms ease;
}

div.searchl.search-move {
  right: 28%;
  transition: all 400ms ease;
}

/* profiel svg */
nav.header a img.profile {
  right: 1em;
  width: 1.3em;
  margin-top: 1.2em;
}

/*//LOGO UOV//*/
nav.header img.logoov {
  margin-top: -.5em;
  width: 5em;
  display: flex;
  position: fixed;
}

/*//ZOEK BALK TONEN OP CLICK//*/
input.zoekbalkboven {
  visibility: hidden;
  opacity: 0;
  background: none;
  padding: 1.6em;
  height: .1em;
  margin-top: .9em;
  margin-right: 4em;
  margin-left: auto;
  display: block;
  width: 0em;
}

.zoekbalkboven.show-zoekbalk {
  visibility: visible;
  opacity: 1;
  width: 20%;
  transition: width 300ms ease;
}

/****** SORTEREN  *******/
/* Form sorteren populair */
form.sorteren select value:hover {
  background-color: #e7772b;
}

form.sorteren {
  right: 2%;
  margin-top: 1.9vh;
  position: absolute;
}

/****** ARTICLES STORIES *******/
/*| Articles bevat de volgende elementen
-- Header image
-- Titel
-- Paragraaf
-- Bookmark svg
-- Comment SVG
-- Form comment sectie
|*/
/*| article styling |*/
article {
  background: white;
  Box-shadow: 0 2px 8px 0 rgba(103, 92, 83, .1);
  max-width: 21em;
  margin-bottom: 4em;
  border-radius: 10px;
  display: block;
  top: -200px;
  margin-left: auto;
  margin-right: auto;
  transition: all 300ms ease;
}

article:hover {
  Box-shadow: 0 8px 18px 0 rgba(103, 92, 83, .3);
}

/*| article afbeelding |*/
article header img.storypic {
  width: 100%;
  height: 11em;
  display: block;
  border-radius: 7px;
  position: relative;
  justify-content: center;
}

section h3 {
  display: block;
  position: relative;
  top: 1em;
  margin-left: .5em;
}

/*| paragraaf bij een article |*/
section p {
  display: flex;
  position: relative;
  top: 1em;
  width: 80%;
  margin-left: 1em;
  height: 4.6rem;
  font-size: .9em;
  overflow: hidden;
}

h3, p {
  padding-left: 1em;
}

h2.smalltext, h2.smalltext2 {
  padding-left: 3em;
  font-size: 1em;
  font-weight: 400;
  color: grey;
}

/*| article, paragraaf, header, svg's |*/
section.wrap, section.wrap2 {
  display: flex;
  flex-wrap: wrap;
}

section.wrap h2 {
  margin-left: .3em;
  position: relative;
}

/*// SVG CHAT SVG  //*/
div.containchatfave {
  left: 75%;
  width: 10%;
  position: relative;
  top: -.2em;
  display: block;
  cursor: pointer;
  transition: all 200ms ease;
}

div.chat svg {
  position: relative;
  left: 2.2em;
  bottom: 2.1em;
}

.comment {
  margin-right: 1em;
  display: block;
}

.containchatfave:active {
  cursor: pointer;
}

/*| chat animatie typend |*/
div.containchatfave.show-reviewcontent {
  padding-bottom: 1em;
  transition: all 300ms ease;
}

.chat:focus path {
  stroke: red;
}

img.chatgif {
  /* - width voor styling - */
  width: 44.1px;
  position: relative;
  left: 1.6em;
  bottom: 1.9em;
  display: none;
}

div img.chatgif.show-comment-gif {
  display: block;
}

/*chat and fave svg hover mode*/
div.comment svg:hover path {
  stroke: orange;
}

div.chat svg:hover path {
  stroke: orange;
}

.chat.displaynone {
  opacity: 0;
}

/*// COMMENTSECTIE  //*/
/* de input */
div.commentvlak {
  padding: 1em;
}

div.commentvlak textarea {
  margin-left: .6em;
}

form input.stuurdit {
  margin-left: 17em;
}

/* verstuurde commentaar */
div.commentaren {
  margin-top: 1em;
  padding: 1em;
}

div.commentaren h2 {
  font-size: 1em;
}

div.commentaren h3 {
  width: 5em;
  font-size: .7em;
  position: relative;
  top: -2.6em;
  color: #c78499;
  right: -9em;
}

div.commentaren div.commenttext {
  top: -2em;
  right: -.3em;
  position: relative;
  font-style: italic;
}

div.commentaren div.verscom {
  border-radius: .3em;
  height: 4em;
}

div.commentverschijn {
  display: none;
  background: #e7772b91;
  color: white;
}

div.commentverschijn.show-comment {
  display: block;
}

/*// SVG BOOKMARK STER  //*/
div.bookmark svg {
  width: 2.5em;
  display: flex;
  position: relative;
  bottom: 11.5rem;
  z-index: 1;
  left: 95%;
}

section.bookmark {
  position: absolute;
}

div.bookmark svg:hover #star {
  cursor: pointer;
  fill: #fecb37;
}

div.bookmark.bookmark-color path {
  fill: #fecb37;
  stroke: none;
  width: 200px;
}

/*// SVG BOOKMARK STER ANIMATIE  //*/
div.steranimatie {
  width: 20em;
  position: absolute;
  height: 15em;
  display: block;
  visibility: hidden;
  background: #675C54;
  z-index: 2;
  margin-right: auto;
  margin-left: auto;
  right: 3em;
  top: 30em;
  border-radius: 10px;
  box-shadow: 0 8px 18px 0 rgba(103, 92, 83, .3);
  opacity: 0;
  transition: all 200ms ease;
}

div.steranimatie img {
  position: static;
  width: 20em;
  margin-top: -5.5em;
}

div.steranimatie h2 {
  color: white;
  text-align: center;
  position: static;
  margin-top: -2.1em;
  font-weight: 400;
}

.steranimatie.sterappear {
  visibility: visible;
  opacity: ;
  animation: popanim 3s ease;
}

/*nummer 1 toevoeging naast de navbottom profiel svg */
div.eentje {
  color: red;
  z-index: 89;
  position: fixed;
  font-size: 1em;
  font-weight: 800;
  bottom: 0;
  padding-left: 5em;
  padding-bottom: 1.5em;
  display: none;
  /* background: greenyellow; */
}

/*----------------------------------*/
/*------- KEYFRAMES ANIMATION ------*/
/*----------------------------------*/
/* || commentaar vak schuift naar beneden ||*/
@keyframes showcomment {
  0% {
    padding-bottom: 0em;
  }

  100% {
    padding-bottom: 4em;
  }
}

/* || de nummer 1 verschijnt naast de profiel svg ||*/
@keyframes spanan {
  0% {
    transform: rotate(0);
  }

  80% {
    transform: rotate(1deg);
  }

  100% {
    display: none;
  }
}

/* || bookmark ster kom tevoorschijn met opacity ||*/
@keyframes popanim {
  0% {
    opacity: .5;
  }

  20% {
    opacity: 1;
  }

  79% {
    opacity: 1;
  }

  80% {
    opacity: .5;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

/****** FILTER LEFT WIDESCREEN *******/
/*///// CHECKBOX FILTER STYLING    /////////
//////  https://codepen.io/zFunx/pen/dWbevd  /////*/
/*| Filter alleen te zien op desktop/laptop|*/
form.filter {
  background: #ffffff;
  border: solid 1px lightgray;
}

form.filter h2 {
  background: #FF9800;
  color: white;
  margin-bottom: -1em;
  height: 2em;
  text-align: center;
  padding-top: 1em;
  border-radius: 2px;
  width: 100%;
  font-size: 1.2em;
  font-weight: 400;
}

form.filter li {
  list-style-type: none;
  padding-top: 10em;
}

form.filter h3 {
  color: #54a5dd;
}

form.filter input {
  margin-right: 10em;
}

form.filter label {
  position: relative;
  padding: 5px;
  border-bottom: solid 1px lightgrey;
  margin-left: 1em;
  margin-right: 1em;
  width: 11.8em;
}

form.filter {
  display: grid;
  grid-gap: 1.2em;
}

/*// CHECKBOX STYLING  //*/
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] {
  color: #e7772b;
}

form input[type="checkbox"]:hover {
  color: red;
}

input[type="checkbox"]+label::before,
input[type="checkbox"]+label::after {
  content: "";
  border: 0.1em solid #e7772b;
  border-radius: 0.2em;
  display: inline-flex;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.5em;
  margin: .3em;
  color: #e7772b;
  transition: .2s;
  cursor: pointer;
  float: left;
}

input[type="checkbox"]+label::before {
  content: none;
}

input[type="checkbox"]:checked+label::after {
  content: "\2714";
  font-weight: bold;
}

/*// FILTER BUTTON ONDER  //*/
button.button {
  /*toon filter*/
  background: white;
  text-decoration: none;
  padding: 1em;
  color: #54a5dd;
  border: solid 1px #54a5dd;
  border-radius: 5px;
}

button.button a {
  text-decoration: none;
}

button.button:hover {
  cursor: pointer;
  font-weight: 500;
  background: #54a5dd;
  color: white;
  font-weight: 600;
}

/****** FILTER BUBBLE ACTIEF *******/
/* de gif zijn in een container geplaats genaamd
.humorgifalles */
div.humorgifalles img {
  width: 14em;
  margin-bottom: -2em;
}

img.humorpng {
  position: relative;
}

img.humorpng:hover {
  cursor: pointer;
  content: url('../assets/gif/hover-button1.gif');
}

img.humorklikgif {
  position: absolute;
  margin-top: 0.2em;
  z-index: 1;
  display: none;
}

div.humorballon {
  background: blueviolet;
  width: 10em;
  padding: .5em;
  border-radius: .4em;
  display: block;
}

div.humorballon div {
  color: white;
}

/****** FILTER TABLET MOBILE  *******/
div.filternav a {
  display: inline-block;
  text-align: center;
  padding: .5em;
  text-decoration: none;
  background-color: lightgrey;
  color: grey;
}

div.filternav {
  overflow-x: scroll;
  white-space: nowrap;
}

div.filternav::-webkit-scrollbar {
  display: none;
}

div.filternav svg {
  width: 2em;
  padding-right: -.1em;
  opacity: .3;
  height: .8em;
}

/* filter PSUEDO  Hover */
div.filternav a:hover {
  color: white;
  font-weight: bold;
  background-color: #E7772B;
}

/*___________________________*/
/****** NAVBAR BOTTOM *******/
/*___________________________*/
/*| Navbar bottom is voor Tablet en Mobile
-- Home SVG
-- Profile SVG
|*/
nav.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  margin-top: 1em;
  z-index: 10;
  height: 2.8em;
}

nav.navbar li {
  float: left;
  align-items: center;
}

nav.navbar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  color: #ffffff;
  font-size: 0.9em;
}

/*// SVG HOME //*/
svg.prof, .homeicoon {
  display: block;
  position: absolute;
  width: 1.5em;
  top: 0;
}

/*// SVG PROFILE //*/
/* home|account hover PSUEDO */
nav.navbar svg:hover #profile,
nav.navbar svg:hover #profil {
  fill: #E7772B;
}

nav.navbar svg:hover #home {
  fill: #E7772B;
}

/****** FOOTER *******/
footer {
  height: 10em;
  box-shadow: 0px 15px 20px 13px rgba(0, 0, 0, 0.1);
  width: 100%;
}

footer section h2.footerp {
  font-size: 1em;
  text-align: center;
  width: 100%;
  display: block;
  color: #e7772b;
}
footer section.footertekst{
  text-align: center;
}

div.containtlogofoot {
  width: 100%;
}

footer img.logouovor {
  position: relative;
  width: 5em;
  margin-bottom: -7em;
}

/*----------------------------------*/
/*---------- MEDIAQUERIES ----------*/
/*----------------------------------*/
/************************************/
/*|||||||||  SMARTPHONE ||||||||||||*/
/***********************************/
/* designed mobile first but for extra styling
this media querie comes in handy */
@media only screen and (min-width:50px) and (max-width: 616px) {
  header img.introplaatje {
    margin-top: 4em;
    width: 100%;
  }

  /* T O P  */
  img.profile {
    display: none;
  }

  a.filterknop {
    margin-left: -1em;
    width: 100%;
    margin-bottom: 1em;
  }

  div.filternav a {
    display:
  }
}

form.filter {
  justify-content: center;
}

form.filter {
  position: absolute;
  top: 0.2em;
  left: -23em;
  transition: left 300ms ease;
  z-index: 9;
}

.filter.filter-show {
  left: 0em;
  top: 0.2em;
  position: relative;
  width: 100%;
  transition: left 400ms ease;
  z-index: 2;
}
}
/************************************/
/*|||||||||||  TABLET  ||||||||||||*/
/***********************************/
@media only screen and (min-width: 617px) and (max-width:768px) {
  .busgif {
    right: 12em;
  }

  /* T O P  */
  .profile {
    display: none;
  }

  .containchatfave {
    left: 75%;
    width: 100px;
    position: relative;
  }

  #filternavhide {
    display: none;
  }

  .introplaatje {
    width: 100%;
    margin-top: 4em;
  }

  .boxunder {
    display: none;
  }

  .filterknop {
    margin-left: -1em;
    width: 100%;
    margin-bottom: 1em;
  }

  header {
    grid-area: content;
  }

  .zoeken {
    grid-column: 2;
    height: 100px;
    padding-top: 20px;
    width: 100%;
    background-color: #fbd731;
  }

  article, .anderook {
    grid-column: auto;
  }

  h2.smalltext {
    margin-left: -1em;
  }

  comment:hover, comment:hover {
    cursor: pointer;
  }

  .steranimatie {
    right: 13em;
  }

  .registreren {
    margin-left: 2em;
  }

  div.eentje.spananimate {
    animation: spanan 400ms cubic-bezier(0.07, 0.76, 0.73, 0.27);
    animation-iteration-count: 10;
  }

}

/************************************/
/*||||||||||||  DESKTOP ||||||||||||*/
/***********************************/
@media only screen and (min-width: 769px) and (max-width:1440px) {
  form.sorteren {
    margin-top: 4.9vh;
  }

  span {
    display: none;
  }

  .containchatfave {
    left: 68%;
  }

  div.busgif {
    right: 19em;
  }

  div.boxbus {
    height: 100%;
  }

  .boxintro {
    display: block;
    width: 100%;
    height: 21.5em;
    background-color: white;
    position: absolute;
  }

  .introplaatje {
    margin-left: auto;
    margin-right: auto;
    width: 55em;
    display: block;
    position: relative;
  }

  .filternav {
    display: none;
  }

  /*//   filter media queries   ///////////////////////// */
  form.filter {
    display: grid;
    float: left;
    margin-left: 2em;
    position: initial;
    margin-top: 5.1em;
  }

  div.steranimatie {
    right: 30%;
  }

  nav.navbar {
    display: none;
  }
}

@media only screen and (min-width: 1025px) and (max-width:1866px) {
  img.humorklikgif {
    margin-left: 16.5em;
  }

  .containchatfave {
    left: 68%;
  }

  div.busgif {
    right: 19em;
  }

  div.boxbus {
    height: 100%;
  }

  header div.boxintro {
    display: block;
    width: 100%;
    height: 21.5em;
    background-color: white;
    position: absolute;
  }

  header img.introplaatje {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: block;
    position: relative;
    margin-top: -8em;
  }

  .filternav {
    display: none;
  }

  h2.smalltext {
    margin-left: 15.3em;
    margin-top: 3em;
  }

  /*//  ontdek meer verhalen   //////////////////////////// */
  div.verasme {
    width: 14.5em;
    margin-left: 2em;
    margin-bottom: 1em;
    text-align: center;
    Box-shadow: 0 8px 18px 0 rgba(103, 92, 83, .3);
  }

  button.ondekmeer {
    width: 10em;
    padding: 1em;
  }

  /*// filter media queries   //////////////////////////// */
  form.filter {
    display: grid;
    float: left;
    margin-left: 2em;
    position: initial;
    margin-top: 5.1em;
  }

  div.steranimatie {
    right: 30%;
  }

  h2.smalltext2 {
    margin-left: 1.6em;
  }

  form.sorteren {
    margin-top: 4.9vh;
  }

  nav.navbar {
    display: none;
  }

}
