/*jslint browser: true, devel: true, eqeq: true, plusplus: true, sloppy: true, vars:
true, white: true

/eslint-env browser/
/eslint 'no-console': 0/

//updated 1st time/ */
/*  Homepage    */
body {
  font-family: "Roboto";
  font-size: 16px;
  background-color: #fefefe;
  margin: 0;
  box-sizing: border-box;
}

.storytogo {
  text-align: center;
  width: 100%;
  position: fixed;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

/*/////////////////////////////////////////////////////////////////////// */
/*/////////////////////////    L O G O   //////////////////////////////// */
/*/////////////////////////////////////////////////////////////////////// */
.header {
  background-color: #544a43;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logoov {
  margin-top: -10px;
  width: 5em;
  display: flex;
  position: fixed;
}

.header, .searchl, .profile {
  display: flex;
  position: fixed;
  right: 0;
}

.searchl {
  right: 4%;
  margin-top: -.3em;
  cursor: pointer;
  transition: all 400ms ease;
}

.searchl.search-move {
  right: 28%;
  transition: all 400ms ease;
}

nav.header a img.profile {
  right: 1em;
  width: 1.3em;
  margin-top: 1.2em;
}

/*/////////////////////////////////////////////////////////////////////// */
/*/////////////////////////    FILTER NAV  //////////////////////////// */
/*/////////////////////////////////////////////////////////////////////// */
.filternav a {
  display: inline-block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  background-color: lightgrey;
  color: grey;
}

.filternav {
  margin-top: 10px;
  overflow-x: scroll;
  white-space: nowrap;
}

.filternav::-webkit-scrollbar {
  display: none;
}

.filternav svg {
  width: 15px;
  padding-right: 10px;
  opacity: .3;
  height: 10px;
}

/* filter PSUEDO  Hover */
.filternav :hover {
  color: white;
  font-weight: bold;
  background-color: #E7772B;
}

/*/////////////////////////////////////////////////////////////////////// */
/*/////////////////////////    N A V B A R   //////////////////////////// */
/*/////////////////////////////////////////////////////////////////////// */
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  z-index: 10;
  height: 50px;
}

.prof, .homeicoon {
  display: block;
  position: absolute;
  width: 20px;
  top: 0;
}

.navbar li {
  float: left;
  align-items: center;
}

.navbar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  color: #ffffff;
  font-size: 0.9em;
}

/* home/account hover PSUEDO */
.navbar svg:hover #profile,
.navbar svg:hover #profil {
  fill: #E7772B;
}

.navbar svg:hover #home {
  fill: #E7772B;
}

.zoekbalkboven {
  visibility: hidden;
  opacity: 0;
  background: none;
  padding: 20px;
  height: .1em;
  margin-top: .9em;
  margin-right: 4em;
  margin-left: auto;
  display: block;
  width: 0em;
}

.zoekbalkboven.show-zoekbalk {
  visibility: visible;
  opacity: 1;
  width: 20%;
  transition: width 300ms ease;
}

/* .zoekbalkboven:focus {
  width: 40em;
} */
/*/////////////////////////////////////////////////////////////////////// */
/*///////////    O N T D E K V E R H A A L   /////////////////////// */
/*/////////////////////////////////////////////////////////////////////// */
.dotline {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: -20px;
  border-top: dotted 2px #544a43;
}

.ontdekverhalen {
  position: relative;
  text-align: center;
  font-size: .6em;
  background: white;
  height: 8em;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.ontdekbut {
  text-decoration: none;
  padding: 3px;
  color: #54a5dd;
  border: solid 1px #54a5dd;
  border-radius: 5px;
}

/* HOVER */
.ontdekverhalen:link {
  border: solid 2px red;
}

.ontdekbut:hover {
  background-color: #54a5dd;
  color: white;
  font-weight: 500;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  transition: .2s ease-in;
}

/*/////////////////////////////////////////////////////////////////////// */
/*/////////////////////////    S O R T E R E N   /////////////////////// */
/*/////////////////////////////////////////////////////////////////////// */
.sorteren select value:hover {
  background-color: #e7772b;
}

/*/////////////////////////////////////////////////////////////////////// */
/*/////////////////////////    STORY STYLING     /////////////////////// */
/*/////////////////////////////////////////////////////////////////////// */
.busgif {
  visibility: hidden;
  position: absolute;
  width: 22em;
  top: 20em;
  right: -2em;
  margin-left: auto;
  margin-right: auto;
  animation: loading 3s ease;
  opacity: 0;
  z-index: 6;
}

.boxbus {
  visibility: hidden;
  position: absolute;
  height: 100%;
  top: 3.2em;
  width: 100%;
  background: rgba(0, 0, 0, 0.47);
  box-shadow: 0px 4px 10px -6px rgba(0, 0, 0, 0.75);
  opacity: 0;
  animation: loading 4s ease;
  z-index: 5;
}

@keyframes loading {
  0% {
    visibility: visible;
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

img.bus_achter_animatie {
  width: 15em;
  bottom: 2em;
  position: absolute;
  z-index: 2;
  right: -4em;
}

@keyframes busaccountachtergrondanim {}

.bookmark svg {
  width: 2.5em;
  display: flex;
  position: relative;
  bottom: 11.5rem;
  z-index: 1;
  left: 95%;
}

section.bookmark {
  position: absolute;
}

.bookmark svg:hover #star {
  cursor: pointer;
  fill: #fecb37;
}

.bookmark.bookmark-color path {
  fill: #fecb37;
  stroke: none;
  width: 200px;
}

.smalltext, .smalltext2 {
  padding-left: 3em;
  font-size: 1em;
  font-weight: 400;
  color: grey;
}

section.wrap, section.wrap2 {
  display: flex;
  flex-wrap: wrap;
}

.wrap h2 {
  margin-left: .3em;
  position: relative;
}

article {
  background: white;
  Box-shadow: 0 2px 8px 0 rgba(103, 92, 83, .1);
  max-width: 21em;
  margin-bottom: 4em;
  border-radius: 10px;
  display: block;
  top: -200px;
  margin-left: auto;
  margin-right: auto;
  transition: all 300ms ease;
}

article:hover {
  /* border: solid #e7772b 6px; */
  Box-shadow: 0 8px 18px 0 rgba(103, 92, 83, .3);
}

article header img.storypic {
  width: 100%;
  height: 11em;
  display: block;
  border-radius: 7px;
  position: relative;
  justify-content: center;
}

section h3 {
  display: block;
  position: relative;
  top: 1em;
  margin-left: .5em;
}

section p {
  display: flex;
  position: relative;
  top: 1em;
  width: 80%;
  margin-left: 1em;
  height: 4.6rem;
  font-size: .9em;
  overflow: hidden;
}

h3, p {
  padding-left: 1em;
}

/*/////////////////////////////////////////////////////////////////////// */
/*/////////////////////////    F I L T E R BOx   //////////////////////// */
/*/////////////////////////////////////////////////////////////////////// */
/*
https://codepen.io/zFunx/pen/dWbevd

*/
.filter {
  display: grid;
  grid-gap: 1.2em;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] {
  color: #e7772b;
}

input[type="checkbox"]+label::before,
input[type="checkbox"]+label::after {
  content: "";
  border: 0.1em solid #e7772b;
  border-radius: 0.2em;
  display: inline-flex;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.5em;
  margin: .3em;
  color: #e7772b;
  transition: .2s;
  cursor: pointer;
  float: left;
}

input[type="checkbox"]+label::before {
  content: none;
}

input[type="checkbox"]:checked+label::after {
  content: "\2714";
  font-weight: bold;
}

.filter label {
  position: relative;
  /* background-color: blue; */
  padding: 5px;
  border-bottom: solid 1px lightgrey;
  width: 90%;
  margin-left: 1em;
}

/*/////////////////////////////////////////////////////////////////////// */
/*/////////////////////////    F I L T E R   //////////////////////////// */
/*/////////////////////////////////////////////////////////////////////// */
.filter li {
  list-style-type: none;
  padding-top: 10px;
}

.filter h3 {
  color: #54a5dd;
}

.filter input {
  margin-right: 10px;
}

.anderook {
  margin-bottom: 3em;
}

.button {
  background: white;
  text-decoration: none;
  padding: 4px;
  color: #54a5dd;
  border: solid 1px #54a5dd;
  border-radius: 5px;
}

.button {
  padding: 10px;
}

/*/////////////////////////////////////////////////////////////////////// */
/*/////////////////////////     filter  styling  ///////////////////// */
/*/////////////////////////////////////////////////////////////////////// */
.filter {
  background: #ffffff;
}

.filter h2 {
  color: #e7772b;
  font-size: 1.2em;
  font-weight: 400;
}

.filter label {
  margin-right: 1em;
  width: 11.8em;
}

/*/////////////////////////    chat fave comment   //////////////////// */
.containchatfave {
  left: 75%;
  width: 100px;
  position: relative;
  top: -.2em;
  display: block;
  cursor:pointer;
  transition: all 200ms ease;
}

div.chat svg {
  position: relative;
  left: 2.2em;
  bottom: 2.1em;
}

.comment {
  margin-right: 1em;
  display: block;
}

.containchatfave:active {
  cursor: pointer;
  /* padding-bottom: 9em;
  transition: all 300ms ease; */
}

div.containchatfave.show-reviewcontent {
  padding-bottom: 1em;
  transition: all 300ms ease;
}

.chat:focus path {
  stroke: red;
}

img.chatgif {
  width: 44.1px;
  position: relative;
  left: 1.6em;
  bottom: 1.9em;
  display: none;
}

div img.chatgif.show-comment-gif {
  display: block;
}

.chat.displaynone {
  opacity: 0;
}

div.commentvlak {
  padding: 1em;
}

div.commentaren {
  margin-top: 1em;
  padding: 1em;
}

div.commentaren h2 {
  font-size: 1em;
}

div.commentaren h3 {
  width: 5em;
  font-size: .7em;
  position: relative;
  top: -2.6em;
  color: #c78499;
  right: -9em;
}

div.commentaren div.commenttext {
  top: -2em;
  right: -.3em;
  position: relative;
  font-style: italic;
}

div.commentaren div.verscom {
  border-radius: .3em;
  /* background: #f9f9f9; */
  height: 4em;
}

div.commentverschijn {
  display: none;
  background: #e7772b91;
  color: white;
}

div.commentverschijn.show-comment {
  display: block;
}

@keyframes showcomment {
  0% {
    padding-bottom: 0em;
  }

  100% {
    padding-bottom: 4em;
  }
}

/*/////////////////////////    ster animatie   //////////////////// */
.steranimatie {
  width: 20em;
  position: absolute;
  height: 15em;
  display: block;
  visibility: hidden;
  background: #675C54;
  z-index: 2;
  margin-right: auto;
  margin-left: auto;
  right: 3em;
  top: 30em;
  border-radius: 10px;
  box-shadow: 0 8px 18px 0 rgba(103, 92, 83, .3);
  opacity: 0;
  transition: all 200ms ease;
}

.steranimatie img {
  position: static;
  width: 20em;
  margin-top: -5.5em;
}

.steranimatie h2 {
  color: white;
  text-align: center;
  position: static;
  margin-top: -2.1em;
  font-weight: 400;
}

.steranimatie.sterappear {
  visibility: visible;
  opacity: ;
  animation: popanim 3s ease;
}

/*nummer 1 toevoeging bij favoriet */
div.eentje {
  color: red;
  z-index:89;
  position: fixed;
  font-size: 1em;
  font-weight: 800;
  bottom: 0;
  padding-left: 13em;
  padding-bottom: 1.5em;
  opacity: 0;
  /* background: greenyellow; */
  width: 100%;
}

.eentje.spananimate {
  animation: spanan 400ms cubic-bezier(0.07, 0.76, 0.73, 0.27);
  animation-iteration-count: 10;
}

@keyframes spanan {
  0% {
    opacity: 1;
    transform: rotate(0);
  }

  50% {
    transform: rotate(1deg);
    opacity: 1;
  }

  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}

@keyframes popanim {
  0% {
    opacity: .5;
  }

  20% {
    opacity: 1;
  }

  79% {
    opacity: 1;
  }

  80% {
    opacity: .5;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

.filteractive {
  background-color: lightgrey;
  width: 20%;
  text-align: center;
  border-radius: 10px;
  padding: .1em;
  color: grey;
  margin: .5em;
  cursor: pointer;
}

.klikverdwijn {
  position: absolute;
  width: 15em;
  bottom: 25%;
  right: 65%;
}

footer {
  height: 10em;
  background-color: #675c53;
  width: 100%;
}

img.humorklikgif {
  position: absolute;
  width: 13em;
  bottom: 14em;
}

div.humorballon {
  background: blueviolet;
  width: 5em;
  padding: ;
  border-radius: .4em;
}

div.humorballon div {
  color: white;
}

/*/////////////////////////////////////////////////////////////////////// */
/*/////////////////////////    Mobile screen     /////////////////////// */
/*/////////////////////////////////////////////////////////////////////// */
@media only screen and (min-width:50px) and (max-width: 616px) {
  .introplaatje {
    margin-top: 4em;
    width: 100%;
  }

  .sorteren {
    right: 2%;
    margin-top: .7em;
    position: absolute;
  }

  /* .comment{
    position: relative;
    top: -3.1em;
    width: 23px;
    right: -43vh;
  }
  .chat{
    position: relative;
    top: -5.2em;
    width: 23px;
    left: 47vh;
  } */
  /* T O P  */
  .profile {
    display: none;
  }

  .boxunder {
    display: none;
  }

  .zoeken {
    height: 80px;
  }

  .filterknop {
    margin-left: -1em;
    width: 100%;
    margin-bottom: 1em;
  }

  .filternav a {
    display:
  }
}

.verasme {
  display: none;
}

.filter {
  justify-content: center;
}

.filter {
  position: absolute;
  top: 0.2em;
  left: -23em;
  transition: left 300ms ease;
  z-index: 9;
}

.filter.filter-show {
  left: 0em;
  top: 0.2em;
  position: relative;
  width: 100%;
  transition: left 400ms ease;
  z-index: 2;
}

/*/////////////////////////////////////////////////////////////////////// */
/*/////////////////////////    Tablet screen     /////////////////////// */
/*/////////////////////////////////////////////////////////////////////// */
@media only screen and (min-width: 617px) and (max-width:768px) {
  .busgif {
    right: 12em;
  }

  /* T O P  */
  .profile {
    display: none;
  }

  .containchatfave {
    left: 75%;
    width: 100px;
    position: relative;
  }

  #filternavhide {
    display: none;
  }

  .introplaatje {
    width: 100%;
    margin-top: 4em;
  }

  .boxunder {
    display: none;
  }

  .filterknop {
    margin-left: -1em;
    width: 100%;
    margin-bottom: 1em;
  }

  header {
    grid-area: content;
  }

  .zoeken {
    grid-column: 2;
    height: 100px;
    padding-top: 20px;
    width: 100%;
    background-color: #fbd731;
  }

  article, .anderook {
    grid-column: auto;
  }

  .smalltext {
    margin-left: -1em;
  }

  .sorteren {
    right: 2em;
    margin-top: .8em;
    display: block;
    position: absolute;
  }

  comment:hover, comment:hover {
    cursor: pointer;
  }

  .steranimatie {
    right: 13em;
  }

  .registreren {
    margin-left: 2em;
  }

  span {
    padding-right: 21em;
  }
}

/*/////////////////////////////////////////////////////////////////////// */
/*/////////////////////////    1024 screen     /////////////////////// */
/*/////////////////////////////////////////////////////////////////////// */
@media only screen and (min-width: 769px) and (max-width:1440px) {
  span {
    display: none;
  }

  .containchatfave {
    left: 68%;
  }

  div.busgif {
    right: 19em;
  }

  div.boxbus {
    height: 100%;
  }

  .boxintro {
    display: block;
    width: 100%;
    height: 21.5em;
    background-color: white;
    position: absolute;
  }

  .introplaatje {
    margin-left: auto;
    margin-right: auto;
    width: 55em;
    display: block;
    position: relative;
  }

  /*/////////////////////////    Z O E K   //////////////////////////////// */
  .zoeken {
    padding-top: 20px;
    width: 100%;
    height: 300px;
    background-color: #fbd731;
  }

  .boxunder {
    background: white;
    width: 40em;
    height: 11em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 60px;
    Box-shadow: 0 8px 18px 0 rgba(103, 92, 83, .3);
  }

  h4 {
    font-size: 1em;
    padding: 10px;
    padding-top: 10px;
    color: #e7772b;
  }

  .introzoek, h4 {
    margin-top: -6px;
    padding-left: 20px;
  }

  .zoekbalk {
    padding: 20px;
    width: 40em;
    height: 1%;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: solid .2px lightgrey;
    opacity: 1;
  }

  .buttonz {
    font-size: .9em;
    position: relative;
    left: 40em;
    top: -2.2em;
    text-decoration: none;
    background-color: lightgrey;
    padding: 9px 15px;
    border-radius: 8px;
    color: white;
    z-index: 1;
  }

  .buttonz:hover {
    background: #e7772b;
    transition: .2s ease-in;
    Box-shadow: 0 8px 18px 0 rgba(231, 119, 43, .3);
  }

  .navbar ul {
    display: none;
  }

  .filternav {
    display: none;
  }

  .smalltext {
    margin-left: 15.5em;
    margin-top: 3em;
  }

  /*//////////////////////   ontdek meer verhalen   //////////////////////////// */
  .verasme {
    width: 14.5em;
    margin-left: 2em;
    margin-bottom: 1em;
    text-align: center;
    Box-shadow: 0 8px 18px 0 rgba(103, 92, 83, .3);
  }

  .ondekmeer {
    width: 10em;
    padding: 1em;
  }

  /*//////////////////////   filter media queries   //////////////////////////// */
  .filter {
    display: grid;
    float: left;
    margin-left: 2em;
    position: initial;
    margin-top: 5.1em;
  }

  /*//////////////////////   Section article   //////////////////////////// */
  .sorteren {
    right: 0;
    position: absolute;
    display: block;
    right: 2em;
    margin-top: 3em;
  }

  .filter h2 {
    margin-left: 1em;
  }

  .steranimatie {
    right: 30%;
  }
}

/*/////////////////////////////////////////////////////////////////////// */
/*/////////////////////////    Wide screen     /////////////////////// */
/*/////////////////////////////////////////////////////////////////////// */
@media only screen and (min-width: 1025px) and (max-width:1866px) {
  .containchatfave {
    left: 68%;
  }

  div.busgif {
    right: 19em;
  }

  div.boxbus {
    height: 100%;
  }

  header div.boxintro {
    display: block;
    width: 100%;
    height: 21.5em;
    background-color: white;
    position: absolute;
  }

  header img.introplaatje {
    margin-left: auto;
    margin-right: auto;
    width: 55em;
    display: block;
    position: relative;
  }

  /*/////////////////////////    Z O E K   //////////////////////////////// */
  .zoeken {
    padding-top: 20px;
    width: 100%;
    height: 300px;
    background-color: #fbd731;
  }

  div.boxunder {
    background: white;
    width: 40em;
    height: 11em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 60px;
    Box-shadow: 0 8px 18px 0 rgba(103, 92, 83, .3);
  }

  h4 {
    font-size: 1em;
    padding: 10px;
    padding-top: 10px;
    color: #e7772b;
  }

  .introzoek, h4 {
    margin-top: -6px;
    padding-left: 20px;
  }

  .zoekbalk {
    padding: 20px;
    width: 40em;
    height: 1%;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: solid .2px lightgrey;
    opacity: 1;
  }

  .buttonz {
    font-size: .9em;
    position: relative;
    left: 40em;
    top: -2.2em;
    text-decoration: none;
    background-color: lightgrey;
    padding: 9px 15px;
    border-radius: 8px;
    color: white;
    z-index: 1;
  }

  .buttonz:hover {
    background: #e7772b;
    transition: .2s ease-in;
    Box-shadow: 0 8px 18px 0 rgba(231, 119, 43, .3);
  }

  .navbar ul {
    display: none;
  }

  .filternav {
    display: none;
  }

  .smalltext {
    margin-left: 15.5em;
    margin-top: 3em;
  }

  /*//////////////////////   ontdek meer verhalen   //////////////////////////// */
  .verasme {
    width: 14.5em;
    margin-left: 2em;
    margin-bottom: 1em;
    text-align: center;
    Box-shadow: 0 8px 18px 0 rgba(103, 92, 83, .3);
  }

  .ondekmeer {
    width: 10em;
    padding: 1em;
  }

  /*//////////////////////   filter media queries   //////////////////////////// */
  .filter {
    display: grid;
    float: left;
    margin-left: 2em;
    position: initial;
    margin-top: 5.1em;
  }

  /*//////////////////////   Section article   //////////////////////////// */
  .sorteren {
    right: 0;
    position: absolute;
    display: block;
    right: 2em;
    margin-top: 3em;
  }

  .filter h2 {
    margin-left: 1em;
  }

  .steranimatie {
    right: 30%;
  }

  h2.smalltext2 {
    margin-left: 1.6em;
  }
}
