body{

    box-sizing: border-box;
}
section {
  background: white;
  Box-shadow: 0 8px 18px 0 rgba(103, 92, 83, .3);
  width: 250px;
  height: 255px;
  border-radius: 10px;
  display:flex;
  position: relative;
  margin-top:100px;
  margin-left:auto;
  margin-right:auto;
  padding:10px;

}

h2 {
  color: black;
}

p {

  width: 250px;
  height: 135px;
  font-size: 14px;
  overflow:hidden;
  text-align: center;



}

h3.buttonlees{
  font-size:1em;
  position:absolute;
  display:block;
  right:10px;
  color:grey;
  padding:2px;

}
section:hover{
  color:#e7772b;
  cursor:pointer;
  border:solid 2px #e7772b;

}
.zoeken{
  display: flex;
  position: fixed;
  margin:auto;
  top:0;
}
